<div class="div01">
  <div class="ConferenceT">
    <div class="T-back">
    </div>专家简介
  </div>
  <div class="ExpertA">
    <div class="ExpertB">
      <%= image_tag @expert.face %>
    </div>
    <div class="ExpertD">
      <div class="ExpertE"><%= @expert.name %></div>
      <div class="ExpertF"><%= @expert.intro %></div>
    </div>
    <div class="ExpertH">
      <%= sanitize @expert.intro_detail, okTags: 'p' %>
    </div>
  </div>
</div>