<div class="ConferenceT">
  <span class="T-back">
    <%= link_to '<', page_path('home') %>
  </span>会议议程
</div>
<div class="SalutatoryB">
  <!-- <img style="width:100%;" src="images/ConferenceImg.png" /> -->
  <%= image_tag 'ConferenceImg.png', class: 'agenda-bg' %>
</div>