<ul>
  <li>
    <%= link_to '欢迎词', page_path('welcome') %>
  </li>
  <li>
    <%= link_to '专家简介', '#' %>
  </li>
  <li>
    <%= link_to '会议议程', agenda_index_path %>
  </li>
  <li>
    <%= link_to 'Topic 分享', '#' %>
  </li>
</ul>