<div class="ConferenceT" style="margin-bottom:0;">
  <span class="T-back">
    <%= link_to '<', page_path('home') %>
  </span>欢迎词
</div>
<div class="SalutatoryB">
  <%= image_tag 'salutatoryBG-a.png', class: 'salu-bg' %>
</div>