
<div id="Salutatory">
 <%= render 'pages/indexa' %>
 <div class="SalutatoryA">
  <p>尊敬的各位同仁：</p>
  <p>
    随着全球丙型肝炎治疗疗效的不断提高，许多专家学者提出了“根除丙肝”的防控目标和“治疗即预防”的防控新理念，有效促进了丙肝的筛查、转诊和治疗。
  </p>
  <p>
    为加强丙肝诊疗水平，国家卫生和计划生育委员会也将于今年12月15日正式实施《丙型病毒性肝炎筛查及管理》行业标准，旨在全力推动我国丙型肝炎的筛查、诊疗水平，改善丙肝防控现状，更多患者尽早获得有效治疗。
  </p>
  <p>
    2015年2月1日，罗氏公司将举办“用欣爱Treat now，Cure more——2015派罗欣诊疗一体化全国峰会”，诚邀各位同仁拨冗莅临，共同探讨，一起迎接中国丙肝防控的新机遇和新挑战。
  </p>
  <p>时间：2015年2月1日</p>
  <p>
    地点：上海虹桥喜来登太平洋大饭店</br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 上海市长宁区遵义南路5号</br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 三楼宴会厅
  </p>
</div>
</div>