
body { margin:0; padding:0; font-family:"微软雅黑"; }
a {text-decoration: none;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, a, blockquote, th { margin:0; padding:0;}
ol, ul { list-style: none; }
table { border-collapse:collapse; border-spacing: 0px;}
fieldset, img { border: 0; }
img{ vertical-align:middle;}
em, i, s {font-style:normal;}
input { vertical-align:middle;}
.Fleft{ float:left;}
.Fright{ float:right;}

/* 首页 */
.bg-img{ width:100%; }
.IndexA{ width:100%; position:relative; }
.IndexB{ width:90%; height:50%; position:absolute; top:6%; left:5%;}
.IndexB ul{ }
.IndexB ul li{ width:50%; float:left; margin-top:26px; text-align:center;}
.IndexB ul li a img{ width:85%;}

/* 欢迎词 */
.SalutatoryB{ width: 100%; }
.salu-bg { width: 100% }

/* conference agenda */
.agenda-bg { width: 100%; }
#div01{ width:100%; background-color:#f0f0f0; overflow:hidden;}
.ConferenceT{ width:100%; margin-bottom:8px; background-color:#006fbb; font-size:25px; text-align:center; color:#FFF; height:2em; line-height:2em;}
.T-back{ width:22%; text-align:center; height:0%; }
.T-back a{ font-size:19px; color:#cce3f2;}

/* Topics */
.ConferenceA{ height:80px; width:100%; border-bottom:1px solid #f0f0f0; background-color: #FFF; font-size:19px;}
.ConferenceA span{ float:left;}
.ConferenceB{ line-height:80px; color:#6372b3; width:16%; text-align:center;}
.ConferenceC{ color:#333333; width:66%; text-align:left; line-height:40px;}
.ConferenceE{ color:#333333; width:66%; text-align:left; line-height:26px;  }
.ConferenceF{  color:#333333; width:66%; text-align:left; line-height:80px;  }
.ConferenceD{ width:18%; text-align:center; height:40px; margin-top:14px; }
.TopicsA{ height:320px; margin:20px auto; width:100%; background-color:#ffffff; border:1px solid #dcdcdc;}
.TopicsA P{ font-size:24px; height:60px; line-height:60px; color:#666; text-align:center; width:100%; border-bottom:1px solid #dcdcdc;}
.TopicsB{ height:240px; width:94%; margin:10px auto; background-color:#f4f4f4;}
.TopicsB span{ line-height:60px; color:#a9a9a9; font-size:22px;}
.TopicsC{ width:60%; margin:30px auto;}
.TopicsC a img{ width:100%;}

/* 专家简介 */
.ExpertA{ height:80px; width:100%; margin-top:1px; background-color:#FFF; border-bottom:1px solid #f0f0f0;}
.ExpertB{ width:15%; float:left; margin:13px 10px; border-radius:10px; }
.ExpertB img{ border-radius:10px; width:100%; border:1px solid #f0f0f0;}
.ExpertD{ height:80px; width:65%; float:left; margin-left:4px; }
.ExpertE{ font-size:20px; color:#333; height:40px; line-height:40px; border-bottom:1px solid #f0f0f0; }
.ExpertE span{ font-size:16px; margin:0 2px; color:#8e99c6;}
.ExpertF{ font-size:16px; color:#9a9a9a; height:40px; line-height:40px; overflow:hidden; white-space: nowrap;}
.ExpertG{ float:left; margin-top:18px; margin-left:4px;}
.ExpertG a img{ height:44px; width:22px;}
.ExpertH{ clear:both; background-color:#FFF; width:100%; color:#333; border-top:1px solid #f0f0f0;}
.ExpertH p{ width:94%; margin:10px auto; color:#666666; font-size:18px; line-height:30px; padding:8px 0; }